<div class="post">
    <h5>Post<%= "#" %> <%=index %> <%=post.Title %></h5>
    <p><%= post.text.truncate(100,omission:'...') %></p>
    <ul>
        <li>Comments: <%= post.LikesCounter || 0 %> </li>
        <li>Likes: <%= post.ComentsCounter || 0 %> </li>
    </ul>
</div>